name: Build
on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 11
        cache: gradle
    - run: |
        chmod +x ./gradlew
        sed -i 's/moduleDescription = "/moduleDescription = "(com.PigeonGames.Phigros) /g' module.gradle
        sed -i "s/com.game.packagename/com.PigeonGames.Phigros/g" module/src/main/cpp/game.h
        ./gradlew :module:assembleRelease
    - uses: actions/upload-artifact@v3
      with:
        name: zygisk-il2cppdumper
        path: out/magisk_module_release/
